@import "tailwindcss";

*:not(tspan) {
    font-family: 'Cascadia Code';
    font-weight: 300;
}

.available-magnet {
    stroke: transparent !important;
}


.joint-port-body:hover {
    stroke: #FFB800;
}
