@import "tailwindcss";

*:not(tspan) {
    font-family: 'Cascadia Code';
    font-weight: 300;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 40
}

.card {
    @apply rounded-md shadow-sm/50 shadow-gray-400;
}
